
@media print {
    body { font-family: Georgia, Times, serif; font-size: 10pt; }
    body { color: #000000; background-color: #ffffff; }
    p { font-family: Georgia, Times, serif; font-size: 12pt; }
    a:link { color: #0000cc; text-decoration: underline; } 
    a:after{content:" (" attr(href) ") ";font-size:0.8em;font-weight:normal; }
    
    #menu {display:none;}
    #container {float:none;}
    #content {float:none; width:auto; margin-left:10px;}
}





body {
    color:#c77672;
    font-family:times;
    font-size:1EM;
    background:url(../pics/tweed.png);
    background-repeat:repeat;
    margin:0;
    padding:0;
}

h1{ 
    color:black;
    margin:0;
    padding-top:20px;
    text-align:center;
}
   

#header {
    background-color:#8e2520;
    font-family:georgia;
    height:100px;
    width: 100%;
    margin:0;
}

p {color: #c77672;}  
a:link    {color:#5c0e0a;}
a:visited {color:white;}
a:focus   {color:#8e2520;}
a:hover   {color:#8e2520;}
a:active  {background-color:#c75953; color:#5c0e0a;}

#menu a:hover {background-color:#c75953;}

#menu {
    font-family:tahoma;
    width:110%;
    background-color:#8e2520;
    height:40px;
    margin-left:-18px;
    margin-top:-20px;

}

#menu li a {
    font-family:verdana;
    color:#5c0e0a;
    background-color:#c77672;
    padding-right:20px;
    padding-bottom:4px;
    padding-top:8px;
    padding-left:20px;
    display:block;
    text-decoration:none;
    font-size:12px;
}

#menu li {
    background-color:#c77672;
    float:left;
    list-style:none;
    margin-top:12px;
    margin-right:1px;
}


#menu li.active a {
    background-color:#c75953;
    color:#5c0e0a;
    margin:0;
}

#menuChoises {
    margin-left:auto;
    margin-right:auto;
    width:960px;
}



.list {
    background-color:red;
    float:left;
    margin:1px;
}

#container {
    margin-top:-20px;
    width:960px;
    margin-right:auto;
    margin-left:auto;
    background-color:white;
}

#content {
    width:960px;
    background-color:white;
    margin-right:auto;
    margin-left:auto;
    margin-top:-20px;
}

/*Hem*/

#maincontent {
    width:160px;
    height:280px;
    float:left;
    padding-left:10px;
    padding-right:10px;
    margin-top:50px;
    font-size:14px;
    text-align:center;
}

#inspiration {
    background-color:#5c0e0a;
    height:250px;
    width:160px;
    margin-left:0px;
    text-align: center;
    padding:10px;
}

#subcontent {
    width:650px;
    height:50px;
    margin-top:50px;
    float:right;
}    

#favorit {
    background-color:#5c0e0a;
    width:604px;
    height:50px;
    text-align:center;
    margin-top:-20px;
    margin-right:50px;
}

.blackface2 {
    float:right;
    margin-right:50px;
    width: 600px;
    height: 400px;
}


#bottomcontent {
    height:50px;
    background-color:#5c0e0a;
    position: relative;
    top:550px;
    margin-left: 50px;
    margin-right: 50px
}

.love{
    position:relative;
    right:-250px;
}

#face {
    margin-bottom:100px;
    position:absolute;
}

/*Slut Hem*/

#footer {
    margin-top:1200px;
    background-color:#292929;
    height:100px;
    text-align:center;
    position:static;
}

/*Galleri*/
/*Bläck*/
#ink {
    margin-left:150px;
    margin-right:150px;
}

#kategoriInk {
   margin-top:-20px;
   margin-left:130px;
}

.black {
    text-align:center;
    background-color:#5c0e0a;
}


/*Skräck*/
#horror {
    margin-left:150px;
    margin-right:150px;
}

#kategoriHorror {
   margin-top:-20px;
   margin-left:130px;
}

.skrack {
    text-align:center;
    background-color:#5c0e0a;
}


/*Magi*/
#magic {
    margin-left:150px;
    margin-right:150px;
}

#kategoriMagic {
   margin-top:-20px;
   margin-left:130px;
}

.magi {
    text-align:center;
    background-color:#5c0e0a;
}


/*Natur*/
#nature {
    margin-left:150px;
    margin-right:150px;
}

#kategoriNature {
   margin-top:-20px;
   margin-left:130px;
}

.natur {
    text-align:center;
    background-color:#5c0e0a;
}


/*Tecknat*/
#toon {
    margin-left:150px;
    margin-right:150px;
}

#kategoriToon {
   margin-top:-20px;
   margin-left:30px;
}

.tecknat {
    text-align:center;
    background-color:#5c0e0a;
}


/*Konst*/
#art {
    margin-left:150px;
    margin-right:150px;
}

#kategoriArt {
   margin-top:-20px;
   margin-left:130px;
   margin-bottom:40px;
}

.konst {
    text-align:center;
    background-color:#5c0e0a;
}


/*Kundvagn*/
#konst {
    margin-left:150px;
    margin-right:150px;
    height:650px;
    background-color:#5c0e0a;
}

#kategoriKonst {
   margin-top:-20px;
   margin-left:130px;
   margin-bottom:40px;
}

.art {
    text-align:center;
    background-color:#5c0e0a;
}

#next {
    margin-bottom:20px;
}


/*Konto*/






















